/** Custom theme */
/* eslint-disable */
@import "scss/theme.scss";
@import url("https://fonts.googleapis.com/css?family=Heebo:400,500,700");

body {
  font-family: "Heebo", sans-serif;
  background-color: #f1f4f1;
  color: #444;
  font-size: 14px;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: none;
    color: black;
  }
}
html,
body {
  height: 100%;
}
#root {
  height: 100%;
}

.course-top {
  background-color: #e7ece7;
  background-image: linear-gradient(#f1f4f1, #dbe1db);
  padding-top: 0;
  padding-bottom: 0;
}

.small-icons {
  height: 26px;
  margin-bottom: 10px;
  float: right;
  margin-top: -20px;
}
.error-feedback {
  color: red;
  margin: 5px 0;
}
